MYSQL_USER=warp
MYSQL_PASS=Warp2020
MYSQL_HOST=mysql
MYSQL_PORT=3306
MYSQL_DB=warp_db
API_USER=admin
API_PASS=admin123
GORM_LOG=on
REDIS_ADDR="redis-cache:6379"
REDIS_PASS=""
PORT=8080
PRODUCT_FLAT_CACHE=""
GO111MODULE=on
